/* Esilehe karusell - start */
ul{
	list-style-type: none;
}
li.active{
	display: block;
}
li.inactive{
	display: none;
}
#karusell_container{
	margin-top: -17px;
}
.pic_path{
	display: none;
}
.karusell_button_left{
	cursor: pointer;
	background: url(../Images/arrowl.png) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	margin: 5px;
	margin-left: 35px;
	z-index: 1;
	display: none;
}
.karusell_button_left:hover{
	opacity: 0.8;
}
.karusell_button_right{
	cursor: pointer;
	background: url(../Images/arrowr.png) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 0;
	margin: 5px;
	margin-right: 18px;
	display: none;
}
.karusell_button_right:hover{
	opacity: 0.8;
}
#liner{
	position: absolute;
	height: 2px;
	background: #453823;
	margin-top: 13px;
	left: 0;
	right: 0;
	margin-left: 52px;
	margin-right: 35px;
	display: none;
}
/* Esilehe karusell - end */
