label{
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
	text-align:center;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-weight:bold;
}
h1{
	color:#453823;
	padding-bottom:3%;
}
#keskmine{
	overflow:auto;
	clear:both;
}
.uudise-lisamine-wrapper{
	text-align:center;
}
#uudise-vorm{
	display:inline-block;
	width:90%;
	text-align:left;	
}
#uudise-vorm input{
	width:50%;
}
#uudise-vorm textarea{
	width:100%;
	resize:none;
	overflow:auto;
}
#uudise-vorm *{
	margin-bottom:1%;
}