/*
	Kasutamiseks et kontrollida div-i
	border:1px solid black;

*/


html {
	height:100%;
	padding:0;
	margin:0;
}

body {
	width:100%;
	height:89%;
	padding:0;
	margin:0;
	background-color:#D0D0D0;
}

#RSS {
	display:none;
}

#Meldi {
	display:none;
}


#Rakendus {
	width:100%;
	height:100%;
	display:block;
}




#pealmine_vasakpoolne {
	width:70%;
	height:100%;
	position:absolute;
	left:0;
}


#logo {
	width:100%;
	height:100%;
	background-image: url(../Images/logo-large.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	display:block;
	left:0;
	position:absolute;
}

#logo:hover{
	width:100%;
	height:100%;
	background-image: url(../Images/logo-small.png);
	background-size:20% 100%;
} 


#navigatsioon {
	width:70%;
	height:100%;
	right:0;
	position:absolute;
}




#pealmine_parempoolne {
	width:30%;
	height:100%;
	position:absolute;
	right:0;
}


#buttons {
	position:relative;
	width:100%;
	height:50%;
}

#RSS-button{
	width:15%;
	height:50%;
	position:absolute;
	right:0;
	background-image: url(../Images/RSS.png);
	background-size:100% 100%;
}

#LOGIN-button{
	width:55%;
	height:50%;
	position:absolute;
	left:0;
}

#LOGIN-button button{
	height:100%;
	width:100%;
}


#otsing{
	width:100%;
	height:50%;

}

#otsing form{
	height:70%;
	
}


#otsing input{
	background-image: url(../Images/search.png);
	background-size:30% 100%;
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
	-moz-border-radius: 1em 3em 1em 3em;
	border-radius: 1em 3em 1em 3em;
	text-align:center;
}

/*Päise osa*/
#pealmine {
	padding-top:3%;
	width:70%;
	height:20%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
}

/*Rakenduse osa mida ei muudeta*/
#keskmine {
	width:70%;
	height:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 3%;
	display:block;
	position:relative;
}
#uudis-wrapper {
	height: 60%;
}


/*Jaluse osa*/
#alumine {
	margin-top: 3%;
	width:70%;
	height:5%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}


#valideeringud{
	float:left;
	width:30%;
	height:100%;
}

#kontakt{
	float:left;	
	width:60%;
	height:100%;
}

#abinupp{
	float:right;	
	width:5%;
	height:100%;
	background-image: url(../Images/help.png);
	background-size:100% 100%;
}


#RSS {
	width:100%;
	height:100%;
	background: rgb(54,25,25,0.5);
	position:absolute;
	z-index:2;
}


#rss_container {
	padding-top:3%;
	margin-top:3%;
	padding-left:3%;
	padding-right:3%;
	margin-left:auto;
	margin-right:auto;
	height:70%;
	width:70%;
	background-color:white;
	opacity:2;
	display:block;
}

#Meldi {
	width:100%;
	height:100%;
	background: rgb(54,25,25,0.5);
	position:absolute;
	z-index:2;
}

#meldi_container {
	padding-top:3%;
	margin-top:3%;
	padding-left:3%;
	padding-right:3%;
	margin-left:auto;
	margin-right:auto;
	height:70%;
	width:70%;
	background-color:white;
	opacity:2;
	display:block;
}



.invisible {
	display:none;
}


.visible {
	display:block;
}