/*
	Kasutamiseks et kontrollida div-i
	border:1px solid black;
*/


html {
	padding:0;
	margin:0;
}

body {
	width:100%;
	height:89%;
	padding:0;
	margin:0;
	background-color: #B0AB78;
	font-family: Cambria, Georgia, serif;
	overflow-y: scroll;
	background: url("../Images/bjoon.png") no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#RSS {
	display:none;
}

#Meldi {
	display:none;
}


#Rakendus {
	width:100%;
	/* height:100%; */
	display:block;	
}

#pealmine_vasakpoolne {
	width:70%;
	height:100%;
	position:absolute;
	left:0;
}

#logo {
	width:100%;
	height:80%;
	background-image: url(../Images/logo-large.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	display:block;
	top:0;
	left:0;
	position:absolute;
}

/*
#logo:hover{
	width:100%;
	height:70%;
	background-image: url(../Images/logo-small.png);
	background-size:20% 100%;
} 
*/
/* 
#navigatsioon {
	width:100%;
	height:30%;
	bottom:0;
	left:0;
	position:absolute;
} */

#pealmine_parempoolne {
	width:30%;
	height:100%;
	position:absolute;
	right:0;
}

#buttons {
	position:relative;
	width:100%;
	height:50%;
}

#RSS-button{
	width:15%;
	height:50%;
	position:absolute;
	right:0;
	background-image: url(../Images/RSS.png);
	background-size:100% 100%;
}

#RSS-button:hover{
	opacity:0.8;
}

#LOGIN-button{
	width:55%;
	height:50%;
	position:absolute;
	left:0;
}

#LOGIN-button:hover {
	opacity:0.9;
}

#LOGIN-button button{
	height:100%;
	width:100%;
	font-weight: bolder;
	letter-spacing: 2px;
	background-color: #B0AB78;
	color: #453823;
	border: 2px solid #453823;
	-moz-border-radius: 1em 3em 1em 3em;
	border-radius: 1em 3em 1em 3em;
	box-shadow: 5px 5px 10px #453823;
}

#otsing{
	width:100%;
	height:50%;
}

#otsing form{
	height:70%;
}

#otsing input{
	background-image: url(../Images/search.png);
	background-size:15% 100%;
	background-repeat: no-repeat;
	width:95%;
	height: 50%;
	border-color: #453823;
	-moz-border-radius: 1em 3em 1em 3em;
	border-radius: 1em 3em 1em 3em;
	text-align:center;
}

/*Päise osa*/
#pealmine {
/* 	padding-top:3%; */
	padding: 2%;
	width:70%;
/* 	height:20%; */
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
}

/*Rakenduse osa mida ei muudeta*/
#keskmine {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 3%;
	display:block;
	position:relative;
	height: inherit;
	background: beige;
	padding: 1%;
	border: 2px solid #453823;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
}


/*Jaluse osa*/
#alumine {
	margin-top: 3%;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#valideeringud{
	width:30%;
	height:100%;
}

#kontakt{
	width:60%;
	height:100%;
	top:0;
}

#abinupp{
	position:absolute;
	top:0;
	right:0;
	width:2em;
	height:2em;
	background-image: url(../Images/help.png);
	background-size:100% 100%;
}

#abinupp:hover{
	opacity:0.5;
}


.hidden-vorm *{
	display: block;
	margin-bottom: 2%;
}

.hidden-nupud {
	display: flex;
}

#RSS {
	width:100%;
	height:100%;
	background: #D3D3D3;
	background-color: rgba(0, 0, 0, 0.6);
	position:fixed;
	z-index:2;
}

#rss_container {
	padding-top:3%;
	margin-top:3%;
	padding-left:3%;
	padding-right:3%;
	margin-left:auto;
	margin-right:auto;
	height:70%;
	width:70%;
	background-color:white;
	opacity:2;
	display:block;
}

#Meldi {
	width:100%;
	height:100%;
	background: #D3D3D3;
	background-color: rgba(0, 0, 0, 0.6);
	position:fixed;
	z-index:2;
}

#meldi_container {
	padding-top:3%;
	margin-top:3%;
	padding-left:3%;
	padding-right:3%;
	margin-left:auto;
	margin-right:auto;
	height:70%;
	width:70%;
	background-color:white;
	opacity:2;
	display:block;
}

.invisible {
	display:none;
}


.main-pilt{
	width: 100%;
	height: 100%;
}

/* Navigation bar'i style */
#top-navi {
	background: #453823;
	color: #B0A378;
	text-align: center;
	padding: 10px 0 10px 0;
	height: 14px;
	overflow: hidden;
	-webkit-transition: height 0.5s linear;
	-moz-transition: height 0.5s linear;
	-o-transition: height 0.5s linear;
	transition: height 0.5s linear;
}
 
#top-navi-hidden {
	display: block;
	width: 100%;
	background: #453823;
	color: #B0A378;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	padding: 8px 0; 	
}

#top-navi:hover { 
	height: 50px; 
}

#top-navi-hidden a {
	 color: white;
	 font-size: 1.0em;
	 text-decoration: none;
	 opacity: 0.5;
}

#top-navi-hidden a:hover { 
	opacity: 1; 
}
/* Navigation bar'i style - end */

.temp_link {
	text-decoration: none;
	color: black;
}
