
#user_window {
	width: 40%;
	height: 100%;
	padding: 3%;
	margin-right: 15px;
	float: right;
	background: #FFFFFF;
	border: 2px solid #453823;
	border-radius: 15px;
	box-shadow: 7px 7px 12px #453823;
}

#user_Upper{
	top:0;
	position:relative;
	height:85%;
}

#user_Bottom{
	bottom:0;
	height:15%;
	padding-top:0.5em;
}

#user_PhotoBox {
	width:30%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-image: url(../Images/ajakirjanik.jpg);
	background-size:100% 100%;
}

#user_Prof{
	padding-left:1em;

}

#user_FullName{
	padding-left:1em;
}


#user_ArtCounter{
	padding-left:1em;
}

/*
border:1px solid black;
*/