#user_window{
	width:40%;
	height:100%;
	padding:3%;
	margin-right:15px;
	float:right;
	background:#FFFFFF;
	border:2px solid #453823;
	border-radius:15px;
	box-shadow:7px 7px 12px #453823;
}
#user_Upper{
	top:0;
	position:relative;
	height:85%;
}
#user_Bottom{
	bottom:0;
	height:15%;
	padding-top:0.5em;
}
#user_Prof{
	padding-left:1em;
}
#user_FullName{
	padding-left:1em;
}
#user_ArtCounter{
	padding-left:1em;
}