.uudis-pilt {
	float: left;
	position:relative;
	right:0;
	width: 30%
}

.uudis-tekst {
	float: left;
	margin-right: 15px;
	width: 60%;
}

input, textarea{
	font-family: Cambria, Georgia, serif;
}

#kommentaar-vorm * {
	margin-bottom: 2%;
}

#uudis-wrapper{
	height: 100%;
	display: inline-block;
}

#uudise-kommentaar {
	position: relative;
	width: 30%;	
}

#uudise-kommentaar textarea {
	width: 100%;
	overflow: auto;
	resize: none;
}

.clear{
	clear:both;
}